{{define "title"}}We're loading your GIF {{.}}{{end}}

{{define "body"}}
<center>
<h1>Hang tight!</h1>

<p>We're preparing your personalized Gif. This may take a couple of seconds...</p>

<img src="/static/spinner.gif"/>

</center>
<script>
var job_id = "{{.ImageId}}"
var retryIntervalMs = 1000;
var interval = null;

checkJob = function(){
  window.clearTimeout(interval)
  Frontend_checkJob(job_id, callback);
}

callback = function(status, err) {
  switch(status) {
    case 0:
      alert("Error with "+job_id+" : "+err.toString());
      break;
    case 1:
      retryIntervalMs = retryIntervalMs*1; // Change to 2 for incremental backoff
      console.log("Retrying in "+retryIntervalMs+"ms.");
      setTimeout(checkJob, retryIntervalMs);
      break;
    case 2:
      console.log("Done!");
      location.reload();
      break;
  }
};

interval = window.setTimeout(checkJob, retryIntervalMs);
</script>
{{end}}
